name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # STEP 1: Use Node 16 to BUILD the site
      - name: Setup Node.js for Build
        uses: actions/setup-node@v4
        with:
          node-version: '16.20.2'

      - name: Install and Build
        run: |
          npm install --legacy-peer-deps
          npm run build
        env:
          CI: false
          REACT_APP_MAINTENANCE_MODE: ${{ secrets.REACT_APP_MAINTENANCE_MODE }}

      # STEP 2: Switch to Node 20 to DEPLOY the site
      - name: Setup Node.js for Deploy
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT }}"
          projectId: millburn-robotics-new
          channelId: live
